input {
  border: 1px solid #ccc;
}

textarea {
  border: 1px solid #ccc;
}

table > tr > th {
  background-color: red;
}

.sombra {
  margin-right: 20px;
  padding-left: 40px;
  background: #e1e2e2;
  padding-right: 40px;
}

