
<div class="container">
  <div class="row">
    <img src="">
    <h2>CERTIFICADO DE REGISTRO Y CALIFICACIÓN DE PROVEEDORES</h2>
  </div>
  <div>
    <label>CÓDIGO</label>
    <input type="text" >
    <label>FECHA DE EMISIÓN</label>
    <input type="text" >
    <label>FECHA DE ACTUALIZACIÓN</label>
    <input type="text">
  </div>
  <div>
    <p>El presente documento certifica que el proceso de CALIFICACIÓN DE PROVEEDORES para  la
       COOPERATIVA DE AHORRO y CREDITO 29 DE OCTUBRE LTDA., ha ....</p>
       <table>
         <tr>
           <td>NOMBRE / RAZÓN SOCIAL</td>
           <td></td>
         </tr>
         <tr>
           <td>NOMBRE COMERCIAL</td>
           <td></td>
         </tr>
         <tr>
           <td>FECHA DE CALIFICACIÓN</td>
           <td></td>
         </tr>
         <tr>
           <td>ACTIVIDAD ECONÓMICA Principal</td>
           <td></td>
         </tr>
         <tr>
           <td>ACTIVIDAD ECONÓMICA Secundaria</td>
           <td></td>
         </tr>
       </table>

       <h3>ACTIVIVSDADES PARA LAS QUE SE CALIFICA:</h3>
       <table>
         <tr>
           <th></th>
           <th>CATEGORÍA</th>
           <th>Detalle del Bien / Servicio / Consultoría</th>
         </tr>
         <tr>
           <td>Bienes</td>
           <td>Marketing</td>
           <td>MATERIAL</td>
         </tr>
         <tr>
           <td>0</td>
           <td>0</td>
         </tr>
         <tr>
           <td>0</td>
           <td>0</td>
         </tr>
         <tr>
           <td>SERVICUIOS</td>
           <td>SERVIXIOS</td>
           <td>LAVAN</td>
         </tr>
         <tr>
           <td>0</td>
         <td>0</td>
        </tr>

       </table>
       <div>
         <h2>DETALLE DE LA CALIFICACIÓN</h2>
         <table>
           <tr>
             <th>SECCIÓN</th>
             <th>CALIFICACIÓN</th>
           </tr>
           <tr>
             <td>PERFILES:</td>
             <td>25%</td>
           </tr>
           <tr>
             <td>A</td>
             <td>PERFIL EMPRESARIAL</td>
             <td>5%</td>
           </tr>
           <tr>
             <td>B</td>
             <td>PERFIL FINANCIERO</td>
             <td>0%</td>
           </tr>
           <tr>

           </tr>
           <tr></tr>
           <tr></tr>
           <tr></tr>
           <tr></tr>
         </table>
       </div>
       <div>
         <h2>
           RESULTADO
         </h2>
         <label>El puntaje obtenido por el proveedor</label>
         
       </div>
  </div>

</div>
