<mat-card>
  <div class="container">
    <div class="row">
      <img src="" />
      <h3>CERTIFICADO DE REGISTRO Y CALIFICACIÓN DE PROVEEDORES</h3>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label>CÓDIGO</label>
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>FECHA DE EMISIÓN</label>
        <input type="text" />
      </div>
      <div class="col">
        <label>FECHA DE ACTUALIZACIÓN</label>
        <input type="text" />
      </div>
    </div>

    <div>
      <p>
        El presente documento certifica que el proceso de CALIFICACIÓN DE
        PROVEEDORES para la COOPERATIVA DE AHORRO y CREDITO 29 DE OCTUBRE LTDA.,
        ha ....
      </p>
      <table>
        <tr>
          <td>NOMBRE / RAZÓN SOCIAL</td>
          <td></td>
        </tr>
        <tr>
          <td>NOMBRE COMERCIAL</td>
          <td></td>
        </tr>
        <tr>
          <td>FECHA DE CALIFICACIÓN</td>
          <td></td>
        </tr>
        <tr>
          <td>ACTIVIDAD ECONÓMICA Principal</td>
          <td></td>
        </tr>
        <tr>
          <td>ACTIVIDAD ECONÓMICA Secundaria</td>
          <td></td>
        </tr>
      </table>

      <h3>ACTIVIVSDADES PARA LAS QUE SE CALIFICA:</h3>
      <table>
        <tr>
          <th></th>
          <th>CATEGORÍA</th>
          <th>Detalle del Bien / Servicio / Consultoría</th>
        </tr>
        <tr>
          <td>Bienes</td>
          <td>Marketing</td>
          <td>MATERIAL</td>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>SERVICUIOS</td>
          <td>SERVIXIOS</td>
          <td>LAVAN</td>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
      <div>
        <h2>DETALLE DE LA CALIFICACIÓN</h2>
        <table>
          <tr>
            <th>SECCIÓN</th>
            <th>CALIFICACIÓN</th>
          </tr>
          <tr>
            <td>PERFILES:</td>
            <td>25%</td>
          </tr>
          <tr>
            <td>A</td>
            <td>PERFIL EMPRESARIAL</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>B</td>
            <td>PERFIL FINANCIERO</td>
            <td>0%</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
        </table>
      </div>
      <div>
        <h2>RESULTADO</h2>
        <label>El puntaje obtenido por el proveedor</label>
        <span>PUBLIESTRELLA</span>
        <label>es de</label>
        <span>95% </span>
        <label>equivalente a una calificación </label>
        <span>EXCELENTE </span>
        <label>un proveedor con </label>
        <span>RIESGO MÍNIMO </span>
        <label
          >para cumplir con los estándares y requerimientos internos, con lo
          cual puede prestar
        </label>
        <span>BIENES </span>
        <label>a la COOPERATIVA DE AHORRO Y CRÉDITO 29 DE OCTUBRE LTDA. </label>
      </div>
      <div>
        <h2>LIMITACIONES</h2>
        <label
          >Los resultados contenidos en el presente informe, se basan en la
          información y documentación legal, tributaria y financiera
          proporcionada por
        </label>
        <span>PUBLICIDAD ESTRELLA S.A. </span>
        <label
          >El trabajo ha consistido en validar y analizar la información
          provista con el objeto de asignar al proveedor, una calificación, en
          función de los parámetros definidos por la COOPERATIVA DE AHORRO Y
          CRÉDITO 29 DE OCTUBRE LTDA., y alineados a la normativa vigente
          (Resolución No. SEPS-1GT-1R-1GJ-2018-0279), para los Servicios
          Provistos por Terceros.

          <label
            >Aquellos proveedores que tengan mayor o igual a 60 puntos, podrán
            prestar servicios o entregar bienes a la Cooperativa, salvo que la
            Gerencia General autorice un score de menor puntaje.
          </label>
        </label>
      </div>
      <div>
        <h2>FIRMAS</h2>
        <table>
          <tr>
            <th>ELABORADO POR:</th>
            <th>REVISADO POR:</th>
            <th>APROBADO POR:</th>
          </tr>
          <tr>
            <td>cudrado</td>
            <td>cudrado</td>
            <td>cudrado</td>
          </tr>
          <tr>
            <td></td>
            <td>Nombre:</td>
            <td>Nombre:</td>
          </tr>
          <tr>
            <td>ASISTENTE ADMINISTRATIVA</td>
            <td>Cargo:</td>
            <td>Cargo:</td>
          </tr>
          <tr>
            <td>9/11/2020</td>
            <td>Fecha:</td>
            <td>Fecha:</td>
          </tr>
        </table>
      </div>
    </div>

    <button mat-button color="warn" style="background-color: skyblue">
      Warn
    </button>

    <button
      (click)="generatePdf('open')"
      class="btn btn-primary d-flex align-items-center justify-content-center"
    >
      <i class="material-icons"> picture_as_pdf </i> <span>Open PDF</span>
    </button>
  </div>
</mat-card>
